# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.DS_Store

**/.history/*
.idea/*
Untitled-1.md
qtable.json
id_travis_rsa
Godeps/Readme
# internal/contracts/CoffeeCoin/CoffeeCoin.gocd
# internal/contracts/BeverageList/BeverageList.go
